body{
    background-color: #c5dfc5;
}

.container{
    margin: 0 auto;
    width: 65%;
}

.menu{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: inline-block;
    width: 65%;
    float: right;
    margin: 7em 0 0 0;
    text-align: center;
}

.logo{
    width: 35%;
    margin: 0px;
    float: left;
}

.menu ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.menu ul li a:hover{

    color: #bbffbb;

}

.menu ul li{
    list-style: none;
    display: inline-block;
    margin: 0 11%;
}

.menu ul{
    padding: 0;
}

.fas.fa-cloud{
    color: #e7f2e7;
    display: inline-block;
    font-size: 12em;
    margin: auto -25% 0 0;
}

.letrasLogo{
    display: inline-block;
    font-size: 2.5em;
}

.letritasLogo{
    font-size: 0.7em;
}